@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  overflow: hidden;
  height: 100vh;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  height: 100vh;
  overflow: hidden;
  background: black;
  color: rgb(var(--foreground-rgb));
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

main {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overscroll-behavior: none;
} 